* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--index: calc(1vw + 1vh);
	--transition: 1s cubic-bezier(.05, .5, .0, 1);
}

body {
	background-color: rgb(141, 141, 141);
}

li {
	list-style: none;
}

a:hover {
	text-decoration: none;
}

.button {
	padding: 15px;
	font-size: 16px;
	font-weight: 700;
	margin: 0px 0px 20px 0px;
	cursor: pointer;
	background-color: rgb(231, 231, 0);
}


button {
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease 0s;
	padding: 0px 16px;
	background-color: rgb(168, 8, 249);
	font-weight: 700;
	font-size: 16px;
	cursor: pointer;
}

button:hover {
	background-color: rgb(154, 124, 254);
}

button._active {
	background-color: #7a956b;
}

.link {
	font-size: 20px;
	color: rgb(231, 231, 0);
}

.block {
	padding: 15px;
	width: 350px;
	background-color: #794f45;
}
.block__inner {
	padding: 15px;
	margin: 15px;
	background-color: #77608d;
}
.block__inner-inner {
	margin: 15px;
	background-color: #7a956b;
	padding: 15px;
}

.menu {
	display: inline-block;
	position: relative;
	z-index: 5;
}

.menu._active .menu__list {
	display: block;
}

.menu._active .menu__button span:first-child {
	display: none;
}
.menu._active .menu__button span:last-child {
	display: block;
}

.menu__button span:first-child {
	display: block;
}
.menu__button span:last-child {
	display: none;
}

.menu__list {
	background-color: #77608d97;
	padding: 15px;
}
.menu__list li:not(:last-child) {
	margin: 0px 0px 15px 0px;
}
.menu__link__band {
	color: #c4ce01;
	font-size: 16px;
	text-decoration: none;
}
.menu__link__band:hover {
	color: #edf910;
	font-size: 18px;
}

.menu__link__sys {
	color: #cd0303;
	font-size: 16px;
	text-decoration: none;
}
.menu__link__sys:hover {
	color: #f91010;
	font-size: 18px;
}

.quiz-container {
	--quiz-size: calc(var(--index) * 22);
    position: absolute;
    top: 15%;
    left: calc(50% - calc(var(--quiz-size) / 2));
    width: var(--quiz-size);
    height: var(--quiz-size);
    z-index: 1;
    background-repeat: no-repeat;
}

.quiz-body {
	border: 2px solid;
	border-radius: 6px;
	box-shadow: 15px 15px 5px;
	font-family: sans-serif;
	padding: 5px;
	display: fixed;
} 

.variant {
	font-weight: 600;
}

.quiz-body input {
	font-weight: 600;
	border-radius: 1em;
	width: 140px;
	text-align: center;
	padding: 5px;
	margin: 0 auto;
	display: block;
}

.submit-button {
	text-transform: uppercase;
	font-weight: 600;
	padding: 10px 10px;
	margin: 0 auto;
    display: block;
}

.submit-button:hover {
	text-transform: uppercase;
	color: white;
	font-weight: 600;
	padding: 10px 10px;
	background-color: black;
	border: 2px solid #555555;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	transform: translateY(-2px);
}

.submit-button:active {
	background-color: black;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	transform: translateY(4px);
}

.question {
	padding: 10px;
	border: 2px solid;
	color: white;
	background-color: black;
}

.quiz-body .variant {
	
}

.result {
	border: 2px solid;
	border-radius: 6px;
	font-family: sans-serif;
	background-color: white;
	padding: 1rem;
	box-shadow: 0 0 10px 3px rgba(100, 100, 100, 100);
}
